:root {
    --primary: #FF6A9A;
    --white: #fff;
    --black: #222;
    --grey1: #3a3b3c;
    --grey2: #828282;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
  }

  .container-2 {
    max-width: 90%;
    margin: 0 auto;
  }

  .container-3 {
    max-width: 75%;
    margin: 0 auto;
  }

  .container-4 {
    max-width: 50%;
    margin: 0 auto;
  }

  img {
    width: 100%;
  }

  
  @media (max-width: 1200px) {
    .container {
      padding: 0 2rem;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 60rem;
    }
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  /*nav*/
  .nav {
    width: 100%;
    height: 70px;
    background:#fff;
    color:#fff;
    position: fixed;
    top: 0;
    z-index: 99999;
  }

  .container {
      max-width: 80%;
      margin: 0 auto;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .navbar img{
    width: 200px;
    height: 60px;
    
  }

  .navbar .nav-links {
    display: flex;
    align-items:center;
  }

  .navbar .nav-list{
    margin-left: 50px;
  }

  .navbar .nav-list .nav-a {
    color:#000;
    font-size: 24;
    font-weight: 500;
  }

  .navbar .nav-list .nav-a:hover {
    color: var(--primary);
    opacity: 0.7;
    transition: all 0.3s ease;

  }

  .nav .navbar .bar {
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: var(--grey1);
    transition: all 500ms ease-in;
  }

  .menu-toggle {
    position: absolute;
    top: 20px;
    right: 60px;
    margin-right: 25px;
    transition: all 500ms ease-in;
  }


/* Responsive Navbar*/

  
  
  @media (max-width: 960px) {

    .container {
      max-width: 90%;
      margin: 0 auto;
  }
    .nav {
      z-index: 999;

    }

    .navbar {
      display: block;
      
    }

    .nav-links {
      flex-direction: column;
      align-items:flex-start;
      line-height: 6rem;
      background-color: #FF6A9A;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      top: -1000px;
      opacity: 0;
      transition: all 500ms ease-in;
      z-index: 9999;
    }

    .nav-links.active {
      top: 70px;
      opacity: 1;
      transition: all 500ms ease-in;
      z-index:9999;
    }

    .navbar .nav-list{
      margin-left: 90px;
    }

    .nav-list .btn-pry {
        background: #fff;
        width: 100%;
        color: #FF6A9A;
        font-size: 15px;
        padding: 2px 80px;
        margin-bottom: 30px;
    }

    .bar {
      display: block;
    }

    .navbar-logo img{
      width: 200px;
      height: 60px;
      
    }

    #mobile-menu.is_active .bar:nth-child(2) {
      opacity: 0;
      transition: all 500ms ease-in;
    }
    #mobile-menu.is_active .bar:nth-child(1) {
      transform: translatey(10px) rotate(45deg);
      transition: all 500ms ease-in;
    }
    #mobile-menu.is_active .bar:nth-child(3) {
      transform: translatey(-3px) rotate(-45deg);
      transition: all 500ms ease-in;
    }

  }

  /*slider style*/
  #slider {
    width: 100%;
    height: 90vh;
    overflow:hidden;
    position: relative;
    top: 70px;
    z-index: 90;
    
  }

  .slides{
    overflow:hidden;
    animation-name:fade;
    animation-duration:1s;
    display:none;
    
    
  }

  @keyframes fade{
    from{
      opacity:0.4;
    }
    to{
      opacity:1;
    }
  }

  .bg-1 {
    width: 100%;
    height: 90vh;
    background: #ff216a;
  }
  
  .bg-2 {
    width: 100%;
    height: 90vh;
    background:darkcyan;
  }
  
  .bg-3 {
    width: 100%;
    height: 90vh;
    background:brown;
  }
  
  .bg-4 {
    width: 100%;
    height: 90vh;
    background:chartreuse;
  }
  
  .bg-5 {
    width: 100%;
    height: 90vh;
    background:mediumblue;
  }

  #dot{
    margin:0 auto;
    text-align:center;
    position: absolute;
    top: 550px;
    left: 600px;
    z-index: 9999;
  }

  .dot{
    display:inline-block;
    border-radius:50%;
    background:#d3d3d3;
    padding:8px;
    margin:10px 5px;
  }

  .activate{
    background:#ff216a;
  }

  /*slider hero*/

  .hero-1 {
    width: 100%;
    height: 90vh;
    background: url('./images/yet2-2.png')no-repeat center center/cover;
  }

  .hero-2 {
    width: 100%;
    height: 90vh;
    background: url('./images/yet8.png')no-repeat center center/cover;
  }
  
  .mr-3 {
    margin-bottom: 20px;
  }

  .content-flex {
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
  }

  .content2 {
    width: ;
    padding-top: 180px;
  }

  .content {
    width: 60%;
    padding-left: 70px;
  }

  .content h1{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 180px;
  }

  .content p{
    font-size: 16px;
    margin-bottom: 50px;
  
  }

  .content2 h1{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    padding-top: ;
  }

  .content2 p{
    font-size: 16px;
    margin-bottom: 50px;
  
  }


  .btn-pry {
    background: #FF6A9A;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-sec {
    
    background: #444;
    color: #FF6A9A;
    padding: 10px 20px;
    border-radius: 4px;
}

@media (max-width: 960px) {
  
}


  
/*about*/
.about {
  width: 100%;
  margin-bottom: 50px;
}

.about-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;
}

.about-text {
  
  padding: 30px;
}

.about-text p{
  margin-bottom: 50px;
}

.img-container {
  background: #232C33;
  width: 40%;
  height:400px;
}

@media (max-width: 960px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .about-flex {
    flex-direction:column-reverse;
  }

  .img-container {
    background: #232C33;
    width: 100%;
    height:300px;
  }
  .about-text h1 {
    font-size: 27px;
  }
}

/*gallery*/

.gallery {
  width: 100%;
  background: #d3d3d3;
  padding: 70px;

}

.container-G {
  width: 70%;
  margin: auto;
}

.gallery-header {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #ff216a;
  padding-top: 0px;
  padding-bottom: 40px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  padding-bottom: 10px;
}

.grid {
  background: #232C33;
  height: 300px;
  
}

.grid img {
  width: 100%;
  height: 100%;
}

.span-btn {
  width: 100%;
  height: 70px;
  background-color: #ff216a;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

@media (max-width: 960px) {
  .gallery {
    width: 100%;
    background: #d3d3d3;
    padding: 70px 20px;
  
  }

  .container-G {
    width: 100%;
    margin: auto;
  }

  .gallery-grid {

    grid-template-columns: 1fr;
    column-gap: 10px;
    padding-bottom: 10px;
  }
}


 

/*contact*/
.contact {
  margin-top: 150px;
}
.contact .flex-row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact .flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.contact .flex-row .flex-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.contact .flex-row .flex-col .col-1,
.contact .flex-row .flex-col .col-2 {
  height: 100%;
}

.contact .flex-row .flex-col .col-2 {
  display: flex;
  flex-direction: column;
  align-items: ;
  justify-content: center;
  padding: 30px;
}

.contact .flex-row .flex-col .col-2 h2{
  font-size: 25px;
  color: #FF6A9A;
}

.icon{
  display: flex;
  color:#ff216a;
  width: 30%;
  justify-content: space-between;
  padding-top: 20px;
}



.cfa-2xall_back_form {
  width: 100%;
  padding: 20px 0;
}

.call_back_form .form_control {
  margin-bottom: 15px;
}

.call_back_form label {
  display: block;
  margin-bottom: 5px;
}


.call_back_form input {
  width: 100%;
  height: 40px;
  padding: 4px;
  border: #f5f5f5 1px solid;
}

.call_back_form input:focus {
  outline-color:var(--primary);
}

.call_back_form .btn {
  padding: 12px 0;
  margin: 20px 0 0;
  background-color:var(--primary);
}

@media (max-width: 960px) {
  .contact .flex-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .contact {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .form-mr {
    margin-top: 20px;
  }
}

.footer {
  background: #3a3b3c;
  color: #f4f4f4;
}

.footer .footer-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
}

.footer .footer-flex >div {
  display: flex;
  flex-direction:column;
  height: 100%;
  line-height: 2.4;
  align-items: center;
}

div span {
  margin-right: 1rem;
}

div span i{
  color:var(--primary);
}

div a:hover{
  color: var(--primary);
  transition:all 0.3s ease;
}

div .btn:hover {
  color: #fff;
}

.footer-copy {
  padding: 20px 0 20px 0;
  background-color: #3a3b3c;
  text-align: center;
}

@media (max-width: 960px) {
  .footer .footer-flex {
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items: center;
    padding: 0;
    padding-top: 40px;
  }

  .footer .footer-flex >div {
    margin-bottom: 30px;
  }

}
        





















  
  